<div (resized)="onResized($event)" class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary"  class="example-toolbar" *ngIf="!mobileQuery.matches">
      <mat-toolbar-row>
          <span><img src="https://eidlab-identity-federation-playground.openses.org/eidlab-content/images/toolbar_logo.png" alt="Identity Federation Playground / eIdLab.ch" /></span>
          &nbsp;&nbsp;&nbsp;
          <!-- <button mat-stroked-button *ngIf="globals.selectedLanguageId == 'de'" (click)="selectedToolbarTabId='tab01'; sidenavLeftPanel.close(); selectedMainContentId ='XXX'; changeSelection()" >Lehrplan Inspiration</button> -->
          <button mat-stroked-button *ngIf="globals.selectedLanguageId == 'de'" (click)="selectedToolbarTabId='tab01'; selectedMainContentId ='XXX'; changeSelection()" >Lehrplan Inspiration</button>
          &nbsp;&nbsp;&nbsp;
          <button mat-stroked-button *ngIf="globals.selectedLanguageId == 'de'" (click)="selectedToolbarTabId='tab02'; selectedMainContentId ='XXX'; changeSelection()" >Lehrplan Bezug</button>
          &nbsp;&nbsp;&nbsp;
          <button mat-stroked-button *ngIf="globals.selectedLanguageId == 'de'" (click)="selectedToolbarTabId='tab03'; selectedMainContentId ='XXX'; changeSelection()" >Lehrplan Umsetzung</button>
          <!-- This fills the remaining space of the current row -->
        <span class="example-spacer"></span>
        <span (click)="selectedToolbarTabId='tab04'; changeSelection()">
            <button mat-icon-button [matMenuTriggerFor]="languagemenu"><mat-icon>public</mat-icon></button>
            <mat-menu #languagemenu="matMenu">
                <button mat-menu-item (click)="selectedLanguageId='de'; changeSelection()">Deutsch</button>
                <button mat-menu-item (click)="selectedLanguageId='en'; changeSelection()">English</button>
            </mat-menu>
          </span>
          &nbsp;
          <span (click)="selectedToolbarTabId='tab05'; changeSelection()" >
              <button mat-icon-button [matMenuTriggerFor]="communitymenu"><mat-icon>people</mat-icon></button>
              <mat-menu #communitymenu="matMenu">
                  <button mat-menu-item (click)="loadHomeLoginUrl()">Loginpage</button>
                  <button mat-menu-item (click)="loadGitHubUrl()">GitHub openses</button>
              </mat-menu>
          </span>
        </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [hasBackdrop]="false">
    <mat-sidenav #sidenavLeftPanel [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="40"
      [opened]="mobileQuery.matches ? 'false' : 'true' && globals.selectedToolbarTabId !== 'tab00'"  [style.marginTop.px]="mobileQuery.matches ? 80 : 0">
    <!-- <mat-sidenav #sidenavLeftPanel [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="40"
      [opened]="mobileQuery.matches ? 'false' : 'true'"  [style.marginTop.px]="mobileQuery.matches ? 80 : 0"> -->
      <span *ngIf="globals.selectedLanguageId == 'de'">
          <span *ngIf="selectedToolbarTabId == 'tab01'">
              <button mat-button (click)="selectedMainContentId ='I1_de'; changeSelection()">I1 Projektidee</button><br>
              <button mat-button (click)="selectedMainContentId ='I2_de'; changeSelection()">I2 Projektrahmen</button><br>
              <button mat-button (click)="selectedMainContentId ='I3_de'; changeSelection()">I3 Lehrplanstichworte</button><br>
              <button mat-button (click)="selectedMainContentId ='I4_de'; changeSelection()">I4 Spiralcurriculum</button><br>
              <button mat-button (click)="selectedMainContentId ='I5_de'; changeSelection()">I5 Lehrpersonen Community
               <!--  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

              </button><br>
          </span>
        <span *ngIf="selectedToolbarTabId == 'tab02'">
          <mat-expansion-panel [expanded]='false'>
              <mat-expansion-panel-header><mat-panel-title>
                <button mat-button (click)="selectedMainContentId ='T1_de'; changeSelection()">B1 Anwendungsbeispiel aus der Lernendenwelt</button>
                </mat-panel-title><mat-panel-description></mat-panel-description></ mat-expansion-panel-header>
                    <button mat-button (click)="selectedMainContentId ='B1.1_de'; changeSelection()">B1.1 Systemanmeldung/Login (Lehrplan21 MI.2.3.1.b)</button><br>
                    <button mat-button (click)="selectedMainContentId ='B1.1.1_de'; changeSelection()">&nbsp;&nbsp;&nbsp;B1.1.1 Beispiel Social Media Logins</button><br>
                    <button mat-button (click)="selectedMainContentId ='B1.1.2_de'; changeSelection()">&nbsp;&nbsp;&nbsp;B1.1.2 Beispiel Schulumgebung Logins</button><br>
                    <button mat-button (click)="selectedMainContentId ='B1.2_de'; changeSelection()">B1.2 Anforderungen an den Systemanmeldeprozess</button><br>
                    <button mat-button (click)="selectedMainContentId ='B1.2.1_de'; changeSelection()">&nbsp;&nbsp;&nbsp;B1.2.1 Hohe Sicherheit und Transparenz</button><br>
                    <button mat-button (click)="selectedMainContentId ='B1.2.2_de'; changeSelection()">&nbsp;&nbsp;&nbsp;B1.2.2 Einfache Handhabung</button><br>
                    <button mat-button (click)="selectedMainContentId ='B1.3_de'; changeSelection()">B1.3 Lösungsmuster zum Systemanmeldeprozess</button><br>
                    <button mat-button (click)="selectedMainContentId ='B1.3.1_de'; changeSelection()">&nbsp;&nbsp;&nbsp;B1.3.1 Ungünstige Lösungsmuster (Anti-Pattern)</button><br>
                    <button mat-button (click)="selectedMainContentId ='B1.3.2_de'; changeSelection()">&nbsp;&nbsp;&nbsp;B1.3.2 Gute Lösungsmuster (Standards)</button>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]='false'>
            <mat-expansion-panel-header><mat-panel-title>
            <button mat-button (click)="selectedMainContentId ='B2_de'; changeSelection()">B2 Regeln und Standards in der Lernendenwelt</button>
            </mat-panel-title><mat-panel-description></mat-panel-description></ mat-expansion-panel-header>
            <button mat-button (click)="selectedMainContentId ='B2.1_de'; changeSelection()">B2.1 Gremien/Verbände/Behörden (W3C,IEEE,eCH,SBBK..)</button><br>
            <button mat-button (click)="selectedMainContentId ='B2.2_de'; changeSelection()">B2.2 Protokolle/Modelle</button><br>
            <button mat-button (click)="selectedMainContentId ='B2.3_de'; changeSelection()">B2.3 OAuth 2.0 Autorisierung</button><br>
            <button mat-button (click)="selectedMainContentId ='B2.4_de'; changeSelection()">B2.4 OpenID Connect Authentifizierung</button><br>
            <button mat-button (click)="selectedMainContentId ='B2.5_de'; changeSelection()">B2.5 REST API Schnittstellen</button><br>
            <button mat-button (click)="selectedMainContentId ='B2.6_de'; changeSelection()">B2.6 JSON Datenformat</button><br>
            <button mat-button (click)="selectedMainContentId ='B2.7_de'; changeSelection()">B2.7 Kodierung</button><br>
            <button mat-button (click)="selectedMainContentId ='B2.7.1_de'; changeSelection()">&nbsp;&nbsp;&nbsp;B2.7.1 Hashing</button><br>
            <button mat-button (click)="selectedMainContentId ='B2.7.2_de'; changeSelection()">&nbsp;&nbsp;&nbsp;B2.7.2 Verschlüsselung</button><br>
            <button mat-button (click)="selectedMainContentId ='B2.7.3_de'; changeSelection()">&nbsp;&nbsp;&nbsp;B2.7.3 Signierung</button><br>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]='false'>
            <mat-expansion-panel-header><mat-panel-title>
              <button mat-button (click)="selectedMainContentId ='B3_de'; changeSelection()">B3 Digitale Identitäten in der Lernendenwelt</button>
              </mat-panel-title><mat-panel-description></mat-panel-description></ mat-expansion-panel-header>
              <button mat-button (click)="selectedMainContentId ='B3.1_de'; changeSelection()">B3.1 -> iFrame bundesrat</button><br>
              <button mat-button (click)="selectedMainContentId ='B3.2_de'; changeSelection()">B3.2 -> iFrame Wikipedia</button><br>
              <button mat-button (click)="selectedMainContentId ='B3.3_de'; changeSelection()">B3.3 -> iFrame FIDES</button><br>
              <button mat-button (click)="selectedMainContentId ='B3.4_de'; changeSelection()">B3.4 -> iFrame Switch</button><br>
              <button mat-button (click)="selectedMainContentId ='B3.5_de'; changeSelection()">B3.5 -> iFrame eCH</button><br>
              <button mat-button (click)="selectedMainContentId ='B3.6_de'; changeSelection()">B3.6 -> iFrame swissID</button><br>
              <button mat-button (click)="selectedMainContentId ='B3.7_de'; changeSelection()">B3.7 -> iFrame blockchainID</button><br>
          </mat-expansion-panel>
        </span>
        <span *ngIf="selectedToolbarTabId == 'tab03'">
            <mat-expansion-panel [expanded]='false'>
                <mat-expansion-panel-header><mat-panel-title>
                <button mat-button (click)="selectedMainContentId ='U1_de'; changeSelection()">U1 Werkzeuge zum Entdecken und Be-greifen</button>
                </mat-panel-title><mat-panel-description></mat-panel-description></ mat-expansion-panel-header>
                <button mat-button (click)="selectedMainContentId ='U1.1_de'; changeSelection()">U1.1 Chrome Browser DevTools</button><br>
                <button mat-button (click)="selectedMainContentId ='U1.2_de'; changeSelection()">U1.2 EditThisCookie</button><br>
                <button mat-button (click)="selectedMainContentId ='U1.3_de'; changeSelection()">U1.3 LocalStorage Manager</button><br>
                <button mat-button (click)="selectedMainContentId ='U1.4_de'; changeSelection()">U1.4 Ghostery</button><br>
                <button mat-button (click)="selectedMainContentId ='U1.5_de'; changeSelection()">U1.5 Insomnia REST Client</button><br>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]='false'>
                <mat-expansion-panel-header><mat-panel-title>
                <button mat-button (click)="selectedMainContentId ='U2_de'; changeSelection()">U2 Login-Prozesse analysieren und verstehen</button><br>
                </mat-panel-title><mat-panel-description></mat-panel-description></ mat-expansion-panel-header>
                    <button mat-button (click)="selectedMainContentId ='U2.1_de'; changeSelection()">U2.1 OpenID Connect Simulation</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.1.1_de'; changeSelection()">&nbsp;&nbsp;&nbsp;U2.1.1 Vollständiger Login Flow</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.1.2_de'; changeSelection()">&nbsp;&nbsp;&nbsp;U2.1.2 Login Flow Teilschritte</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.2_de'; changeSelection()">U2.2 Facebook Login</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.2.1_de'; changeSelection()">&nbsp;&nbsp;&nbsp;U2.2.1 Vollständiger Login Flow</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.2.2_de'; changeSelection()">&nbsp;&nbsp;&nbsp;U2.2.2 Login Flow Teilschritte</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.2_de'; changeSelection()">U2.2 google Login</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.2.1_de'; changeSelection()">&nbsp;&nbsp;&nbsp;U2.2.1 Vollständiger Login Flow</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.2.2_de'; changeSelection()">&nbsp;&nbsp;&nbsp;U2.2.2 Login Flow Teilschritte</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.2_de'; changeSelection()">U2.2 SWITCH edu-ID</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.2.1_de'; changeSelection()">&nbsp;&nbsp;&nbsp;U2.2.1 Vollständiger Login Flow</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.2.2_de'; changeSelection()">&nbsp;&nbsp;&nbsp;U2.2.2 Login Flow Teilschritte</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.2_de'; changeSelection()">U2.2 swissID</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.2.1_de'; changeSelection()">&nbsp;&nbsp;&nbsp;U2.2.1 Vollständiger Login Flow</button><br>
                    <button mat-button (click)="selectedMainContentId ='U2.2.2_de'; changeSelection()">&nbsp;&nbsp;&nbsp;U2.2.2 Login Flow Teilschritte</button><br>
              </mat-expansion-panel>
        </span>
      </span>
    </mat-sidenav>
    <mat-sidenav-content [style.marginTop.px]="mobileQuery.matches ? 110 : 0">
      <span *ngIf="globals.selectedLanguageId == 'de'">
        <!-- <span *ngIf="selectedToolbarTabId == 'tab01'">
          Slider:<br>
          - Ziele<br>
          - RLP Bezug<br>
          - Recherche Informatik Lehrbücher<br>
          - https://www.aphorismen.de/zitat/27424 -> Man kann einen Menschen nichts lehren; man kann ihm nur helfen, es in sich selbst zu finden.
        </span> -->
        <span *ngIf="globals.selectedMainContentId == 'I1_de'">
            Slider:<br>
            - Ziele<br>
            - RLP Bezug<br>
            - Recherche Informatik Lehrbücher<br>
            - https://www.aphorismen.de/zitat/27424 -> Man kann einen Menschen nichts lehren; man kann ihm nur helfen, es in sich selbst zu finden.
          </span>
        <span *ngIf="globals.selectedMainContentId == 'B2.3_de'">
            https://www.researchgate.net/publication/313065292_OAuth_und_OpenID_Connect_-_Erfahrungen_und_Konzepte<br>
            https://oauth.net/2/
        </span>
        <span *ngIf="globals.selectedMainContentId == 'B2.4_de'">
            https://openid.net/connect/
        </span>
        <span *ngIf="globals.selectedMainContentId == 'B2.5_de'">
            https://www.cloudcomputing-insider.de/was-ist-eine-rest-api-a-611116/
        </span>
        <span *ngIf="globals.selectedMainContentId == 'B2.7_de'">
            https://php-de.github.io/jumpto/hash-etc/
        </span>
        <span *ngIf="globals.selectedMainContentId == 'U2.2_de'">
          Facebook Login: Übersicht
        </span>
        <span *ngIf="globals.selectedMainContentId == 'U2.2.1_de'">
          Buttons einfügen: Cookie testen, Cookie löschen<br>
          Links einfügen: Anmelden bei Facebook<br>
          Anzeige einfügen: Facebook Anmeldestatus<br>
          https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow<br>
          https://developers.facebook.com/apps/1198455663664253/settings/basic/<br>
          https://developers.facebook.com/apps/1198455663664253/fb-login/settings/<br>
          https://www.facebook.com/v3.2/dialog/oauth?client_id=1198455663664253<br>
          &response_type=token&redirect_uri=https://www.facebook.com/connect/login_success.html&state="123"<br>
          https://www.facebook.com/v3.2/dialog/oauth?client_id=1198455663664253&response_type=token<br>
          &redirect_uri=http://localhost:4200/ -> hier Angular Route /contentselect analog zu openses /tabselect erstellen<br>
          und als redirect verwenden -> parser / cookie etc Funktionalität implementieren<br>
          &state="123"<br>
          <a href="https://www.facebook.com/v3.2/dialog/oauth?client_id=1198455663664253&response_type=token&redirect_uri=https://www.facebook.com/connect/login_success.html&state='123'">Bei Facebook anmelden remote</a><br>
          <a href="https://www.facebook.com/v3.2/dialog/oauth?client_id=1198455663664253&response_type=token&redirect_uri=http://localhost:4200&state='123'">Bei Facebook anmelden local</a><br>
          <a href="http://localhost:3000/">Bei Facebook anmelden local via API</a><br> -> Script und PopUp Fenster einbauen -> Callback mit Ng Route und URL Parameter

          <button mat-stroked-button (click)="deleteAllCookies()" >Alle Cookies löschen</button>
          <p style="text-align:center" >
            Test iframe
            <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl("http://localhost:3000/")' frameBorder="0"></iframe>
            <!-- <iframe *ngIf="globals.selectedTab !== 'Tab01'" [src]='sanitizer.bypassSecurityTrustResourceUrl(globals.myhtmlpath + globals.selectedLanguage + "/" + globals.myhtmlfile)' [width]="mobileQuery.matches ? width : width_max" [height]="mobileQuery.matches ? height - 140 : height - 40" frameBorder="0"></iframe> -->
          </p>
        </span>





      </span>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<router-outlet></router-outlet>
